.quiz_container {
    border: 1px solid #ccc;
}

.container {
    margin: 0 auto;
    max-width: 80vw;
    display: block;
    padding: 1em;
    border-radius: 2rem;
}

.quizz_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quizz_questions {
    display:  flex;
    justify-content: center;
    align-items: center;
    margin: .6em 0;
    border: 1px solid #880044;
    background-color: #880044e3;
    font-size: 160%;
    padding: 3em 2em;
    font-family: 'Segoe UI';
    border-radius: 10px;
}

.quizz_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.btn-option{
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #223127;
    width: 50%;   
    display: inline-block;
    cursor: pointer;
    padding: 1em 5em;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn-option:hover, .btn-option:active, .active{
    background-color: #223127;
    color: #fff
}

.btn-option:active, .btn-option:active, .active{
    position: relative;
    top: 1px;
}

.quizz_results{
    padding: 2em 1em;
    margin-top: 1.5em;
    border: 2px solid #00CC99;
    background-color: #00CC99e3;
}

.quizz_results h4{
    font-size: 2em;
    text-align: center;
    margin-bottom: .5em;
}

.result-content{
    border-radius: 1.9rem;
    padding: 1em;
    background-color: #fff;
}